// media query for 924px to 1200px
@media only screen and (max-width: 1200px) {
    header {
        padding: 0.9375rem 2.125rem;
    }

    main {
        #services {
            .main {
                .service {
                    gap: 1rem;
                }
            }
        }

        #about {
            .main {
                .content {
                    max-width: 50%;
                }
            }
        }
    }
}

// media query for 924px to 786px
@media only screen and (max-width: 924px) {
    header {
        padding: 0.9375rem 2.125rem;
        flex-wrap: wrap;
    }

    main {
        #home {
            padding: 0 1rem;
            justify-content: center;

            .content {
                max-width: 50%;

                h1 {
                    font-size: 3rem;
                }
            }
        }

        #about {

            .head {
                justify-content: center;

                .obj1 {
                    display: none;
                }
            }

            .main {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .img {
                    width: 100%;
                }

                .content {
                    z-index: 1000;
                    max-width: 100%;
                    width: 100%;

                }
            }
        }
    }
}

// media query for 786px to 576px
@media only screen and (max-width: 786px) {
    .shape {
        display: none;
    }

    main {
        #home {
            display: block;
            padding: 0 1rem;    
            max-height: fit-content;

            img {
                display: none;
            }

            .content {
                max-width: 100%;
                width: 100%;

                h1 {
                    font-size: 2.5rem;
                }
            }
        }

        #about {
            .head {
                .obj2 {
                    h1 {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        #services {
            .head {
                h1 {
                    font-size: 2.5rem;
                }
            }

            .main {
                .service {
                    flex-direction: column !important;
                    align-items: center;
                    gap: 1rem;

                    .content {
                        max-width: 100% !important;
                        width: 100%;
                        text-align: left !important;

                        h2 {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

        #team {
            .head {
                h1 {
                    font-size: 2.5rem;
                }
            }
        }

        #projects {
            .head {
                h1 {
                    font-size: 2.5rem;
                }
            }

            .main {
                flex-direction: column;
                max-width: 100%;
                width: 100%;

                .sub1 {
                    width: 100%;
                }

                .sub2 {
                    width: 100%;
                }
            }
        }

        #clients {
            .head {
                h1 {
                    font-size: 2.5rem;
                }
            }

            .main {
                img {
                    max-width: 10rem;
                }
            }
        }

        #contact {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .section {
                text-align: center;
                margin-top: 2rem;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

// media query for 576px to 320px

@media screen and (max-width: 576px) {
    header {
        padding: 0.9375rem 1.125rem;

        nav {
            li {
                margin: 0.2rem !important;
                a {
                    font-size: 0.8rem !important;
                }
            }
        }
    }

    main {
        #home {
            .content{
                margin-top: 5rem !important;

                h1 {
                    text-align: center;
                    font-size: 2rem;
                }

                p {
                    text-align: center;
                }
            }
        }

        #about {
            .main {
                .content {
                    p {
                        text-align: justify;
                    }

                    .services {
                        flex-direction: column;
                        
                        .service {
                            max-width: 100%;
                            width: 100%;
                            &:last-child {
                                margin-top: 2rem;
                            }

                            p {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }

        #services {

            .main {
                .service {
                    padding: 0 0.5rem;
                }
            }
            .content {
                p {
                    text-align: justify !important;
                }
            }
        }

        #team {
            margin: 2rem  0 !important;
            padding-bottom: 0;
        }

        #clients {
            margin-top: 2rem !important;
            .main {
                img {
                    max-width: 5rem;
                }
            }
        }
    }

    footer {
        font-size: 0.75rem;
    }

}