@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.pages {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .shape {
        position: absolute;
    }

    .shape-2 {
        top: 0;
        right: 0;
      }
      
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.9375rem 8.125rem;
    z-index: 1000;

    .logo {
        width: 18.4375rem;
        height: auto;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ul {
            display: flex;
            list-style: none;

            li {
                margin-right: 2.1875rem;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                }

                a {
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

main {

    #home {
        justify-content: space-around;
        height: calc(100vh - 7rem);
        max-height: 800px;
        display: flex;
        padding: 0 4rem;
        position: relative;

        .shape {
            position: absolute;
        }

        .shape-3 {
            bottom: 0;
            right: 0;
            
        }

        .shape-4 {
            bottom: 0;
            left: 0;
            width: 100%;

            img {
                max-width: 80%;
            }
        }

        .shape-5 {
            bottom: 0;
            left: 0;

            height: 70%;

            img {
                max-height: 100%;
            }
            
        }

        .img {
            width: 50%;
            height: auto;
            align-self: flex-end;
            z-index: 1000;

            img {
                max-width: 100%;
            }
        }

        .content {
            margin-top: 10.0625rem;

            h1 {
                max-width: 28.6875rem;
                font-size: 3.5rem;
                font-weight: 500;
                margin-bottom: 1.5625rem;
            }

            p {
                max-width: 34rem;
                font-size: 1.25rem;
                margin-bottom: 1.875rem;
            }
        }
    }
}

@import "about";
@import "services";
@import "team";
@import "projects";
@import "clients";
@import "contact";

footer {
    text-align: center;
    padding: 1.375rem 0;
    font-size: 0.875rem;
    font-weight: 400;
}

@import "responsive";